
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Momo';
  src: url('./fonts/MomoSignature-Regular.ttf') format('truetype');
  font-style: normal;
}


:root{

}

*, *::before, *::after
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #1A1A1A;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}

header{
  display: flex;
  margin: 2rem;
  gap: 30px;
  justify-content: space-between;
  width: 60vw;
}

header button{
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
}

header button:hover{
  background-color: rgb(43, 43, 43);
}

.homePage{
  display: flex;
  width: 80vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.background{
  background-image: url("./images/background.jpg");
  background-size: cover;       
  background-position: center;
  background-repeat: no-repeat;
  width: 30vw;
  height: 100%;
}

.title{
  background-color: black;
  position: absolute;
  top: 160px;
  font-size: 4rem;
  text-align:center;
  width: 80vw;
  padding: 1rem;
  font-family: "Momo";
}

.about_us{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.about_us > p{
  text-align: center;
  font-size: 2rem;
  margin-top: 30vh;
  margin-left: 5vw;
}

.about_us > button {
  font-size: 2rem;
  width: 10rem;
  margin-top: 6rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  padding: 0.5rem 2rem;
  margin-left: 5vw;
}

.about_us button:hover{
  background-color: rgb(43, 43, 43);
}

/* about us */

.aboutPage{
  display: flex;
  width: 80vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.ownerImg{
  background-image: url("./images/Luigi.jpg");
  background-size: cover;       
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 25vw;
  height: 50vh;
}

.ownerInfo{
  width: 15vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ownerInfo p {
  font-size: 1.5rem;
  text-align: center;
}

.ownerInfo h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

